$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area-unequal-recession {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 350px;
    margin-top: -10px;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  & #chart-container-unequal-recession-1 {
    .highcharts-color-0 {
      fill: $green-secondary-5;
      stroke: $green-secondary-5;
    }
    
    .highcharts-color-1 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
    }
    
    .highcharts-color-2 {
      fill: $green-secondary-3;
      stroke: $green-secondary-3;
    }
    
    .highcharts-color-3 {
      fill: $green-secondary-5;
      stroke: $green-secondary-5;
      stroke-dasharray: 5;
    }

    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }

    .highcharts-yaxis-grid {
      & path:nth-child(5) {
        stroke: $slate-secondary-5;
      }
    }

    .highcharts-legend-item:nth-child(4){
      display: none;
    }

    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
    
  }

  & #chart-container-unequal-recession-2, #chart-container-unequal-recession-3 {
    height: 250px;
    @include x-small(){
      margin-bottom: 30px;
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:first-child {
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-unequal-recession-4 {
    height: 250px;
    @include x-small(){
      margin-bottom: 30px;
    }
    .highcharts-axis-line {
      fill: none;
      stroke: none;
    }
    & span:last-child {
      transform: translate(0px,0) !important;
      &:before {
        content: "$";
    }
    }

  }

  & #chart-container-unequal-recession-5 {
    height: 250px;
    .highcharts-lollipop-high {
      fill: $slate-secondary-4;
    stroke: $slate-secondary-4;
    }
    & span:last-child {
      transform: translate(10px,0) !important;
      &:after {
        content: "%";
    }
    }
  }
  
}

// @import "social";
